<html>
  <body>
    <div class="ui-page">
         <div id="t-5077f746-d9fa-40a4-a8aa-4a125fb55784" class="template growth-both firer ie-background commentable" name="without-sibar">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/5077f746-d9fa-40a4-a8aa-4a125fb55784-1445521546864.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/5077f746-d9fa-40a4-a8aa-4a125fb55784-1445521546864-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/5077f746-d9fa-40a4-a8aa-4a125fb55784-1445521546864-ie8.css" /><![endif]-->
           <div id="t-header" class="group firer ie-background commentable">
             <div id="t-header_background" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-header_background_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Header_right" class="group firer ie-background commentable">
               <div id="t-Group_3" class="group firer ie-background commentable">
                 <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Help</span></div></div></div>
                 <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0"></span></div></div></div>
                 <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0"></span></div></div></div>
               </div>
               <div id="t-Group_4" class="group firer ie-background commentable">
                 <div id="t-Button_1" class="pie button singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">English</span></div></div></div>
                 <div id="t-Label_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0"></span></div></div></div>
               </div>
               <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0"></span></div></div></div>
             </div>
             <div id="t-brand-menu" class="group firer ie-background commentable">
               <div id="t-Header_left" class="group firer ie-background commentable">
                 <div id="t-Title" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Title_0">ClearOne</span></div></div></div>
                 <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Dealer Setup</span></div></div></div>
                 <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">&copy;</span></div></div></div>
                 <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0"></span></div></div></div>
               </div>
               <div id="t-Label_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0"></span></div></div></div>
             </div>
             <div id="t-header-center" class="group firer ie-background commentable">
               <div id="t-Text_12" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_12_0">Tools</span></div></div></div>
               <div id="t-Label_16" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_16_0"></span></div></div></div>
               <div id="t-Label_59" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_59_0"></span></div></div></div>
               <div id="t-Label_45" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_45_0"></span></div></div></div>
               <div id="t-Text_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Discovery</span></div></div></div>
               <div id="t-Text_11" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_11_0">Plugins</span></div></div></div>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>