<html>
  <body>
    <div class="ui-page">
         <div id="t-c28c6f81-e797-49f0-b070-3b315ed939af" class="template growth-both firer commentable" name="home">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/c28c6f81-e797-49f0-b070-3b315ed939af-1445521546864.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/c28c6f81-e797-49f0-b070-3b315ed939af-1445521546864-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/c28c6f81-e797-49f0-b070-3b315ed939af-1445521546864-ie8.css" /><![endif]-->
           <div id="t-sidebar_left" class="group firer ie-background commentable">
             <div id="t-Triangle_1" class="triangle shape non-processed-shape firer commentable" path="M 10 0 L 21 15 L 0 15 Z" rotationdeg="90" >
                 <div class="shapert-clipping">
                    <div class="content">
                     <div class="valign">
                         <span id="rtr-t-Triangle_1_0"></span>
                     </div>
                    </div>
                 </div>
             </div>
             <div id="t-Rectangle_1" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_1_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">Dashboard</span></div></div></div>
             <div id="t-Text_6" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">Projects</span></div></div></div>
             <div id="t-Text_7" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0">Real Devices</span></div></div></div>
             <div id="t-Label_215" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_215_0"></span></div></div></div>
             <div id="t-Label_43" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_43_0"></span></div></div></div>
             <div id="t-Label_26" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_26_0"></span></div></div></div>
             <div id="t-Label_121" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_121_0"></span></div></div></div>
             <div id="t-Text_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_10_0">Wizard</span></div></div></div>
           </div>
           <div id="t-header" class="group firer ie-background commentable">
             <div id="t-header_background" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-header_background_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Header_right" class="group firer ie-background commentable">
               <div id="t-Group_3" class="group firer ie-background commentable">
                 <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Help</span></div></div></div>
                 <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0"></span></div></div></div>
                 <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0"></span></div></div></div>
               </div>
               <div id="t-Group_4" class="group firer ie-background commentable">
                 <div id="t-Button_1" class="pie button singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">English</span></div></div></div>
                 <div id="t-Label_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0"></span></div></div></div>
               </div>
               <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0"></span></div></div></div>
             </div>
             <div id="t-brand-menu" class="group firer ie-background commentable">
               <div id="t-Header_left" class="group firer ie-background commentable">
                 <div id="t-Title" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Title_0">ClearOne</span></div></div></div>
                 <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Dealer Setup</span></div></div></div>
                 <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">&copy;</span></div></div></div>
                 <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0"></span></div></div></div>
               </div>
               <div id="t-Label_8" class="label singleline firer toggle ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0"></span></div></div></div>
             </div>
             <div id="t-header-center" class="group firer ie-background commentable">
               <div id="t-Text_5" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Discovery</span></div></div></div>
               <div id="t-Text_11" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_11_0">Plugins</span></div></div></div>
             </div>
           </div>
           <div id="t-discovery_modal" class="group firer ie-background commentable">
             <img id="t-Image_82" class="image firer ie-background commentable"    alt="image" src="./images/49512397-5553-4480-89e9-726b15672b80.png"/>
             <div id="t-Rich_text_9" class="richtext firer commentable"  >
               <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rich_text_9_0"></span>
                   </div>
                 </div>
               </div>
             </div>
             <div id="t-Label_19" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_19_0">Cancel</span></div></div></div>
             <div id="t-Label_20" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_20_0">OK</span></div></div></div>
           </div>
           <div id="t-Text_12" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_12_0">Tools</span></div></div></div>
           <div id="t-Label_16" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_16_0"></span></div></div></div>
           <div id="t-Label_59" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_59_0"></span></div></div></div>
           <div id="t-Label_45" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_45_0"></span></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>