#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Navi_menu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Flat-button {
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a #s-Header_focus {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8d458af3-8eba-467f-aad9-e8ecd8aa3c5a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}