#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Triangle_3 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_3 {
  rotation: 90.0;
  margin-left: 360px;
  margin-top: -362px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_274 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_234 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Flat-button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Label_264 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Flat-button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 #s-Flat-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac36a3b0-434c-4521-bb40-2feac7c6fe41 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}