#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_187 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_259 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_188 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_260 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_189 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_261 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_190 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_262 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_191 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=43);
  filter: alpha(opacity=43);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_263 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_192 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_264 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_193 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_194 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_195 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_196 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  filter: alpha(opacity=32);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Flat-button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F77857;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F77857;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F77857;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F77857;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_197 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}