#s-df342884-0371-4fb2-959a-20c7466dce8d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 900px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navigation_menu {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 1280px;
  height: 69px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navi_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 68px;
  background-color: #F3F0E9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navi_menu .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navi_menu span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navi_menu span#rtr-s-Navi_menu_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Group_2 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 352px;
  height: 47px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_9 {
  position: absolute;
  top: 16px;
  left: 53px;
  width: 195px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_10 {
  position: absolute;
  top: 1px;
  left: 53px;
  width: 299px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 34.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_10 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 34.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_10 span#rtr-s-Label_10_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 34.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_11 {
  position: absolute;
  top: 21px;
  left: 1240px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_11 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_11 span#rtr-s-Label_11_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_13 {
  position: absolute;
  top: 20px;
  left: 1198px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_13 span#rtr-s-Label_13_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_5 {
  position: absolute;
  top: 21px;
  left: 1065px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_5 span#rtr-s-Label_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_6 {
  position: absolute;
  top: 20px;
  left: 1109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_3 {
  position: absolute;
  top: 21px;
  left: 1151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_1 {
  position: absolute;
  top: 138px;
  left: 0px;
  width: 275px;
  height: 751px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 {
  position: absolute;
  top: 147px;
  left: 7px;
  width: 268px;
  height: 742px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.96;
  box-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li {
  background-position: 8px 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.last {
  background-position: 8px 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.open td.treeicon {
  background: transparent url('../../images/56782bfb-ef4f-4e68-aea3-a597138cd243.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.closed td.treeicon {
  background: transparent url('../../images/2879e513-94ee-4249-8b43-b8046c662c0c.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.leaf table td.treeicon {
  background-position: 8px center;
  width: 16px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.last.leaf td.treeicon {
  width: 16px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_1 li.open ul {
  padding-left: 16px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_1 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_1-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_2 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_2-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_14 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_14-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_13 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_13-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_12 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_12-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_11 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_11-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_4 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_4-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_15 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_15-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_16 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_16-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_7 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_7-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_8 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_8-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_3 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_3-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_9 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_9-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_10 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_10-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_5 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_5-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_6 {
  cursor: pointer;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Tree_node_6-nodecontent {
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  white-space: nowrap;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_4 {
  position: absolute;
  top: 398px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_4 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_4 span#rtr-s-Label_4_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Line_1 {
  position: absolute;
  top: 514px;
  left: -84px;
  width: 746px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Header_focus {
  position: absolute;
  top: 61px;
  left: 427px;
  width: 106px;
  height: 5px;
  background-color: #F77857;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Header_focus .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Header_focus span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Header_focus span#rtr-s-Header_focus_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Body_form {
  position: absolute;
  top: 147px;
  left: 339px;
  width: 580px;
  height: 670px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_7 {
  position: absolute;
  top: 5px;
  left: 34px;
  width: 105px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_7 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_8 {
  position: absolute;
  top: 164px;
  left: 0px;
  width: 139px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_8 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_11 {
  position: absolute;
  top: 55px;
  left: 19px;
  width: 120px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_11 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_11 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_11 span#rtr-s-Text_11_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_12 {
  position: absolute;
  top: 108px;
  left: 19px;
  width: 120px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_12 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_12 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_12 span#rtr-s-Text_12_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_12 {
  position: absolute;
  top: 154px;
  left: 150px;
  width: 428px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_12 .valign {
  vertical-align: top;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_9 {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_10 {
  position: absolute;
  top: 53px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_10 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_11 {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_11 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_13 {
  position: absolute;
  top: 319px;
  left: 34px;
  width: 105px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_13 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_13 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_13 span#rtr-s-Text_13_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 {
  position: absolute;
  top: 478px;
  left: 0px;
  width: 139px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 span#rtr-s-Text_14_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 span#rtr-s-Text_14_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_15 {
  position: absolute;
  top: 369px;
  left: 19px;
  width: 120px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_15 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_15 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_15 span#rtr-s-Text_15_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_16 {
  position: absolute;
  top: 422px;
  left: 19px;
  width: 120px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_16 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_16 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_16 span#rtr-s-Text_16_0 {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_13 {
  position: absolute;
  top: 468px;
  left: 150px;
  width: 428px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_13 .valign {
  vertical-align: top;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_14 {
  position: absolute;
  top: 314px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_14 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_15 {
  position: absolute;
  top: 367px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_15 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_16 {
  position: absolute;
  top: 414px;
  left: 150px;
  width: 428px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_16 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Input_16 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button {
  position: absolute;
  top: 635px;
  left: 279px;
  width: 146px;
  height: 35px;
  background-color: #F77857;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button span#rtr-s-Flat-button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button_1 {
  position: absolute;
  top: 635px;
  left: 433px;
  width: 146px;
  height: 35px;
  background-color: #650A65;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button_1 span#rtr-s-Flat-button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Line_2 {
  position: absolute;
  top: 515px;
  left: -91px;
  width: 746px;
  height: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Group_1 {
  position: absolute;
  top: 85px;
  left: 925px;
  width: 122px;
  height: 34px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 122px;
  height: 34px;
  background-color: #F77857;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_7 {
  position: absolute;
  top: 7px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 15.0pt;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}