#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Navi_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Line_1 {
  rotation: 90.0;
  margin-left: 373px;
  margin-top: -373px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Header_focus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Flat-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Line_2 {
  rotation: 90.0;
  margin-left: 373px;
  margin-top: -373px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df342884-0371-4fb2-959a-20c7466dce8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}