#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Navi_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Flat-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a #s-Header_focus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e1afd022-57f7-41b1-8595-6b00a917032a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}