<html>
  <body>
    <div class="ui-page">
         <div id="t-a8aec9a1-253f-439c-9ba8-f308737cccb9" class="template growth-both firer commentable" name="banner extralarge">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444890355375.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444890355375-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444890355375-ie8.css" /><![endif]-->
           <div id="t-header_background" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-header_background_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Text_5" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Discovery</span></div></div></div>
           <div id="t-Header_left" class="group firer ie-background commentable">
             <div id="t-Title" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Title_0">ClearOne</span></div></div></div>
             <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Dealer Setup</span></div></div></div>
             <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">&copy;</span></div></div></div>
             <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0"></span></div></div></div>
           </div>
           <div id="t-Header_right" class="group firer ie-background commentable">
             <div id="t-Group_2" class="group firer ie-background commentable">
               <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Help</span></div></div></div>
               <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0"></span></div></div></div>
               <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0"></span></div></div></div>
             </div>
             <div id="t-Group_3" class="group firer ie-background commentable">
               <div id="t-Button_1" class="pie button singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">English</span></div></div></div>
               <div id="t-Label_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0"></span></div></div></div>
             </div>
           </div>
           <div id="t-Label_8" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0"></span></div></div></div>
           <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0"></span></div></div></div>
           <div id="t-Label_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_6_0"></span></div></div></div>
           <div id="t-sidebar_left" class="group firer ie-background commentable">
             <div id="t-Triangle_1" class="triangle shape non-processed-shape firer commentable" path="M 10 0 L 21 15 L 0 15 Z" rotationdeg="90" >
                 <div class="shapert-clipping">
                    <div class="content">
                     <div class="valign">
                         <span id="rtr-t-Triangle_1_0"></span>
                     </div>
                    </div>
                 </div>
             </div>
             <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">Dashboard</span></div></div></div>
             <div id="t-Text_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">Projects</span></div></div></div>
             <div id="t-Text_7" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0">Real Devices</span></div></div></div>
             <div id="t-Text_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_8_0">Tools</span></div></div></div>
             <div id="t-Label_45" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_45_0"></span></div></div></div>
             <div id="t-Label_215" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_215_0"></span></div></div></div>
             <div id="t-Label_43" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_43_0"></span></div></div></div>
             <div id="t-Label_26" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_26_0"></span></div></div></div>
             <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 1 L 726 1" startMarker="none" endMarker="none" rotationdeg="90" >
             </div>
             <div id="t-Label_121" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_121_0"></span></div></div></div>
             <div id="t-Text_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_10_0">Wizard</span></div></div></div>
             <div id="t-Label_171" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_171_0"></span></div></div></div>
             <div id="t-Text_9" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_9_0">Report</span></div></div></div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>