#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_31 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_37 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_40 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Flat-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Triangle_2 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Line_1 {
  rotation: 90.0;
  margin-left: 360px;
  margin-top: -362px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Triangle_3 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Line_3 {
  rotation: 90.0;
  margin-left: 360px;
  margin-top: -362px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_194 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32) ;
  filter: alpha(opacity=32) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_195 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32) ;
  filter: alpha(opacity=32) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_196 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32) ;
  filter: alpha(opacity=32) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca03a01e-3c58-4e34-afbe-83bd8910c84a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}