#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 > #backgroundBox {
  background-color: #F4F4F4;
  background-image: none;
  position: absolute;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 68px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 66px;
  background-color: #455660;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F77857;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header span#rtr-t-Header_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header_center {
  position: absolute;
  top: 0px;
  left: 469px;
  width: 395px;
  height: 68px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_5 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_5 span#rtr-t-Text_5_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_6 {
  position: absolute;
  top: 0px;
  left: 130px;
  width: 65px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_6 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_6 span#rtr-t-Text_6_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_7 {
  position: absolute;
  top: 0px;
  left: 236px;
  width: 50px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_7 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_7 span#rtr-t-Text_7_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_8 {
  position: absolute;
  top: 0px;
  left: 331px;
  width: 64px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_8 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_8 span#rtr-t-Text_8_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header_left {
  position: absolute;
  top: 14px;
  left: 22px;
  width: 309px;
  height: 35px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 137px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: Verdana,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Title .valign {
  vertical-align: top;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Verdana,Arial;
  font-size: 20.0pt;
  font-style: italic;
  font-weight: 700;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Title span#rtr-t-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Verdana,Arial;
  font-size: 20.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_2 {
  position: absolute;
  top: 7px;
  left: 160px;
  width: 149px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_2 .valign {
  vertical-align: bottom;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_3 {
  position: absolute;
  top: 10px;
  left: 140px;
  width: 32px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_3 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_3 span#rtr-t-Text_3_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_17 {
  position: absolute;
  top: 5px;
  left: 274px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_17 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_17 span#rtr-t-Label_17_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Header_right {
  position: absolute;
  top: 16px;
  left: 1009px;
  width: 265px;
  height: 36px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Group_2 {
  position: absolute;
  top: 4px;
  left: 160px;
  width: 105px;
  height: 27px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_1 {
  position: absolute;
  top: 3px;
  left: 32px;
  width: 73px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Text_1 span#rtr-t-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_3 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_3 span#rtr-t-Label_3_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_4 {
  position: absolute;
  top: 5px;
  left: 65px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 16.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_4 span#rtr-t-Label_4_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 127px;
  height: 36px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 121px;
  height: 30px;
  background-color: #434343;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Button_1 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Button_1 span#rtr-t-Button_1_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_5 {
  position: absolute;
  top: 8px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_5 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 16.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_5 span#rtr-t-Label_5_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_9 {
  position: absolute;
  top: 20px;
  left: 565px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_9 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_9 span#rtr-t-Label_9_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_10 {
  position: absolute;
  top: 21px;
  left: 677px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_10 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_10 span#rtr-t-Label_10_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_171 {
  position: absolute;
  top: 19px;
  left: 770px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_171 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_171 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_171 span#rtr-t-Label_171_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_18 {
  position: absolute;
  top: 22px;
  left: 1016px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_18 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_18 span#rtr-t-Label_18_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_243 {
  position: absolute;
  top: 21px;
  left: 436px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_243 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_243 span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_243 span#rtr-t-Label_243_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}