<html>
  <body>
    <div class="ui-page">
         <div id="t-a8aec9a1-253f-439c-9ba8-f308737cccb9" class="template growth-both firer commentable" name="banner extralarge">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444766261487.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444766261487-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1444766261487-ie8.css" /><![endif]-->
           <div id="t-Header" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Header_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Header_center" class="group firer ie-background commentable">
             <div id="t-Text_5" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Projects</span></div></div></div>
             <div id="t-Text_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">Groups</span></div></div></div>
             <div id="t-Text_7" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0"> Tools</span></div></div></div>
             <div id="t-Text_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_8_0">Report</span></div></div></div>
           </div>
           <div id="t-Header_left" class="group firer ie-background commentable">
             <div id="t-Title" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Title_0">ClearOne</span></div></div></div>
             <div id="t-Text_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Dealer Setup</span></div></div></div>
             <div id="t-Text_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">&copy;</span></div></div></div>
             <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0"></span></div></div></div>
           </div>
           <div id="t-Header_right" class="group firer ie-background commentable">
             <div id="t-Group_2" class="group firer ie-background commentable">
               <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Help</span></div></div></div>
               <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0"></span></div></div></div>
               <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0"></span></div></div></div>
             </div>
             <div id="t-Group_3" class="group firer ie-background commentable">
               <div id="t-Button_1" class="pie button singleline firer commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">English</span></div></div></div>
               <div id="t-Label_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0"></span></div></div></div>
             </div>
           </div>
           <div id="t-Label_9" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_9_0"></span></div></div></div>
           <div id="t-Label_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_10_0"></span></div></div></div>
           <div id="t-Label_171" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_171_0"></span></div></div></div>
           <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0"></span></div></div></div>
           <div id="t-Label_243" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_243_0"></span></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>